{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Product {% endblock %}</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="name">Product Name</label>
        <br>
        <input type="text" name="name"
               placeholder="shoe name"
               value="{{ request.form['name'] }}"></input>
        <br>

        <label for="category">Category</label>
        <br>
        <input type="text" name="category"
               placeholder="shoe category"
               value="{{ request.form['category'] }}"></input>
        <br>

        <label for="price">Price</label>
        <br>
        <input type="text" name="price"
               placeholder="shoe price"
               value="{{ request.form['price'] }}"></input>
        <br>

        <label for="quantity">Pairs of shoes available</label>
        <br>
        <input type="text" name="quantity"
               placeholder="number of pairs currently in stock"
               value="{{ request.form['quantity'] }}"></input>
        <br>

        <label for="image_01">Image 01</label>
        <br>
        <input type="file" name="image_01"
               placeholder="Upload image 1" accept="image/*"
               value="{{ request.files['image_01'] }}"></input>
        <br>

        <label for="image_02">Image 02</label>
        <br>
        <input type="file" name="image_02"
               placeholder="Upload image 2" accept="image/*"
               value="{{ request.files['image_02'] }}"></input>
        <br>

        <label for="image_03">Image 03</label>
        <br>
        <input type="file" name="image_03"
               placeholder="Upload image 3" accept="image/*"
               value="{{ request.files['image_03'] }}"></input>
        <br>

        <label for="image_04">Image 04</label>
        <br>
        <input type="file" name="image_04"
               placeholder="Upload image 4" accept="image/*"
               value="{{ request.files['image_04'] }}"></input>
        <br>

        <label for="image_05">Image 05</label>
        <br>
        <input type="file" name="image_05"
               placeholder="Upload image 5" accept="image/*"
               value="{{ request.files['image_05'] }}"></input>
        <br>

        <label for="description">Product Description</label>
        <br>
        <textarea name="description"
                  placeholder="Give a brief description about the shoe"
                  rows="15"
                  cols="60"
                  >{{ request.form['description'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}