{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Products {% endblock %}</h1>
    {% for shoe in shoes %}
        <div class='shoe'>
            <p>{{ shoe['product_name'] }}</p>
            <p>{{ shoe['product_category'] }}</p>
            <p>{{ shoe['product_price'] }}</p>
            <p>{{ shoe['product_quantity'] }}</p>
            <p>{{ shoe['product_image_01'] }}</p>
            <p>{{ shoe['product_image_02'] }}</p>
            <p>{{ shoe['product_image_03'] }}</p>
            <p>{{ shoe['product_image_04'] }}</p>
            <p>{{ shoe['product_image_05'] }}</p>
            <p>{{ shoe['product_description'] }}</p>

            <a href="{{ url_for('update', id=shoe['product_id']) }}">Update</a>
        </div>
    {% endfor %}
{% endblock %}